altgraph==0.17.4
auto-py-to-exe==2.44.0
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cx_Freeze==7.1.1
cx_Logging==3.2.0
Eel==0.16.0
Flask==3.0.3
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
lief==0.14.1
MarkupSafe==2.1.5
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
pefile==2023.2.7
py2exe==0.13.0.1
pycparser==2.22
pygame-ce==2.5.0
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz#sha256=07beec9876eaa15f9e611ef6403988c5fe11f513876fbd2040d0c613c1783f13
pyinstaller-hooks-contrib==2024.7
pyngrok==7.1.6
pyparsing==3.1.2
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.32.3
urllib3==2.2.2
Werkzeug==3.0.3
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.4.post2
